<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Accounts</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item *ngFor="let account of accounts">
      <h2> {{'Card: ' + account.type + ' | ' + account.name  + ' | ' + account.balance}}</h2>
    </ion-item>

    <h2 *ngIf="accounts?.length === 0">Aun no tienes cuentas :(</h2>
  </ion-list>

  <button ion-button primary (click)="newAccount()">New Account</button>

</ion-content>
